@import './base.css';
@import 'tailwindcss';

body {
  font-family: Helvetica, Arial, sans-serif;
}

#app {
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
